@theme {
  /* Colors */
  --color-rock-primary: #FF791D;
  --color-rock-primary-50: #FFF4EB;
  --color-rock-primary-100: #FFE0CC;
  --color-rock-primary-200: #FFCAA8;
  --color-rock-primary-300: #FFB180;
  --color-rock-primary-400: #FF9655;
  --color-rock-primary-500: #FF791D;
  --color-rock-primary-600: #DB5F11;
  --color-rock-primary-700: #B74709;
  --color-rock-primary-800: #933505;
  --color-rock-primary-900: #7A2A03;
  --color-rock-secondary: #0D1117;
  --color-rock-secondary-50: #EAEDEF;
  --color-rock-secondary-100: #CACFD3;
  --color-rock-secondary-200: #A9B0B7;
  --color-rock-secondary-300: #87919A;
  --color-rock-secondary-400: #67717D;
  --color-rock-secondary-500: #48525F;
  --color-rock-secondary-600: #353D4A;
  --color-rock-secondary-700: #252C38;
  --color-rock-secondary-800: #171B25;
  --color-rock-secondary-900: #0D1117;

  /* Spacing */
  --spacing-xs: 0.25rem;
  --spacing-sm: 0.5rem;
  --spacing-md: 1rem;
  --spacing-lg: 2rem;
  --spacing-xl: 4rem;

  /* Border Radius */
  --radius-sm: 0.125rem;
  --radius-md: 0.375rem;
  --radius-lg: 0.5rem;
  --radius-xl: 0.75rem;
  --radius-full: 9999px;

  /* Font Family */
  --font-sans: "Segoe UI";
  --font-mono: "Courier New";

  /* Font Size */
  --text-xs: 12px;
  --text-sm: 14px;
  --text-base: 16px;
  --text-lg: 18px;
  --text-xl: 22px;
  --text-2xl: 28px;

  /* Font Weight */
  --font-weight-regular: 400;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;

  /* Line Height */
  --leading-tight: 105%;
  --leading-normal: 150%;
  --leading-relaxed: 175%;
} 